<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>画像投稿</title>
<script th:src="@{/webjars/vue/vue.js}"></script>
<script th:src="@{/webjars/element-ui/lib/index.js}"></script>
<script th:src="@{/webjars/element-ui/lib/umd/locale/ja.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/element-ui/lib/theme-chalk/index.css}" />
</head>
<body>
	<form id="input" method="post">
		<el-date-picker v-model="date" type="date" placeholder="日付を選択してください"> </el-date-picker>
		<button v-on:click="post">送信</button>
	</form>
	<script th:src="@{/js/upload.js}"></script>
</body>
</html>